@charset "UTF-8";
/*Dá para usar fontes públicas do https://fonts.google.com/ foi usado no header#cabecalho h2*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}



p{
    text-align: justify;
    text-indent: 50px;
}
body{
    background-color: rgba(110, 121, 146, 0.5);
    color: rgba(0,0,0,0.0.8);
}

/*Interface*/
div#interface{
    width: 1040px;
    background-color: rgb(227, 226, 235);
    margin: -20px auto 0px auto; /*Margin é a aréa externa do objeto*/
    /*margin: 10px (Em cima) 10px (Direita) 10px (Baixo) 10px (Esquerda);*/
    /*auto: será ajustado automaticamente*/
    box-shadow: 0px 0px 10px black; /*Sombra em volta do objeto*/
    /*descolamento lateral, verical, espalhamento da sombra, cor da sombra*/
    padding: 10px; /*Padding é o espaço interno do objetio*/
     /*paddinf: 10px (Em cima) 10px (Direita) 10px (Baixo) 10px (Esquerda); - Se colocar uma única vez, o nevegador vai considerar o valor para todos os lados do paddin*/
}

/*Atualizar o posicionamento do óculos*/
header#cabecalho img#icone{
    position: absolute;
    left: 780px;
    top: 80px;
}

/*Trabalhando com o cabeçalho*/
header#cabecalho{
    border-bottom: 1px #606060 double;
    /*border-bottom: Largura da borda em pixels, cor da borda, formato da borda (solid, dashed, dotted, double);*/
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px; /*no-repeat para não repetir a imagem*/
                                                               /*deslocamento lateral, deslocamento vertical*/   
    /*Foi colocado a locomarca no fundo da página dentro do cabeçalho*/                                                                     
}


header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        /*deslocamento, deslocamento vertical, espalhamento, cor */
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}


/* Formatação de imagens com legendas*/
figure.foto-legenda{
    position: relative;
    border:8px solid white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

figure.foto-legenda > img{
    width: 100%;
    height: 100%;
}
            
figure.foto-legenda > figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/*Formatação do Menu*/
nav#menu{
    display: block;
}

nav#menu > ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav#menu h1{
    display: none;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
   color: black;
   text-decoration: none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

/* Áreas laterais e rodapé da página*/
section#corpo{
    display: block;
    width: 600px;
    float: left; /*Para "flutuar" do lado esquerdo da página*/
    border-right: 1px solid #606060; /*Para colocar uma borda, no caso uma linha vertical do lado direito do 'corpo' da página*/
    /*border-right: largura, tipo de linha (dotted 'pontilhado', dashed 'riscado' ou solid), cor da linha*/
    padding-right: 15px; /*Para que a linha criado anteriormente não fique grudado ao texto*/
}

aside#lateral{
    display: block;
    width: 400px;
    float: right;  /*Para "flutuar" do lado direito da página*/
}

footer#rodape{
    clear: both; /*Limpar as configurações de ambos os lados - section#corpo e aside#lateral*/
    border-top: 1px solid #606060; /*Para colocar uma linha em cima do rodapé*/
}

footer#rodape > p{
    text-align: center; /*Para centralizar o texto no centro da página, na parte footer*/
    margin-bottom: 0px;
}

footer#rodape p a{
    text-decoration: none; /*Para tirar o underline de links*/
    font-family: 'FonteLogo', sans-serif;
    text-transform: uppercase;
    color: rgb(78, 78, 177);
}